@using Learun.Application.TwoDevelopment.DM_APPManage;
@{

    dm_activity_recordEntity dm_Activity_RecordEntity = ViewBag.MyActivityInfo as dm_activity_recordEntity;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/toast/css/toast.css" rel="stylesheet" />
    <link href="~/Content/toast/css/animate.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
</head>
<body>
    @Html.AppendCssFile("/Views/DLM_Page/ActivityPage.css")
    <input id="token" type="hidden" value="@ViewBag.Token" />
    <input id="platform" type="hidden" value="@ViewBag.Platform" />
    <div class="page_head">
        <img class="pao" src="~/Content/dlm/activity_image/pao.png" />
        <div class="page_price">
            <span class="lot">￥</span>
            <span class="price">@ViewBag.ActivityPrice</span>
            <div class="remark">完成3步小任务,最少可得8.88</div>
            <div id="tixian" class="tixian">提现></div>
        </div>
    </div>

    <div class="page_center">
        <div class="head_center_tip">做任务领现金</div>
        <div id="task_list" class="task_list">
            <div class="task_item">
                <div class="headicon">
                    <img src="~/Content/dlm/activity_image/headicon1.png" />
                </div>
                <div class="task_content">
                    <div class="task_title">邀请好友</div>
                    <div class="task_remark">邀请好友可得1.6元</div>
                </div>
                <div class="btn_info">
                    <div class="btn red" onclick="ReviceActivityTask('领取任务',0,'')">领取任务</div>
                </div>
            </div>
            <div class="task_item">
                <div class="headicon">
                    <img src="~/Content/dlm/activity_image/headicon1.png" />
                </div>
                <div class="task_content">
                    <div class="task_title">邀请好友</div>
                    <div class="task_remark">邀请好友可得1.6元</div>
                </div>
                <div class="btn_info">
                    <div class="btn finish" onclick="ReviceActivityTask('领取任务',0,'')">已完成</div>
                </div>
            </div>
            <div class="task_item">
                <div class="headicon">
                    <img src="~/Content/dlm/activity_image/headicon1.png" />
                </div>
                <div class="task_content">
                    <div class="task_title">邀请好友</div>
                    <div class="task_remark">邀请好友可得1.6元</div>
                </div>
                <div class="btn_info">
                    <div class="btn gray" onclick="ReviceActivityTask('领取任务',0,'')">领取任务</div>
                </div>
            </div>
        </div>
    </div>

    <div class="head_center_bottom">
        <div id="inviteuser" class="head_center_bottom_image">
            邀请三位小伙伴再赚8.88元
        </div>
        <div class="invite_process">
            <div class="invitefinish">
                <img class="niu" src="~/Content/dlm/activity_image/niu1.png" />
                @if (dm_Activity_RecordEntity.invitenum >= 1)
                {
                    <div class="invitefinish_image"></div>
                }
                else
                {
                    <div class="invitenofinish_image"></div>
                }
            </div>
            <div class="invitefinish">
                <img class="niu" src="~/Content/dlm/activity_image/niu2.png" />
                @if (dm_Activity_RecordEntity.invitenum >= 2)
                {
                    <div class="invitefinish_image"></div>
                }
                else
                {
                    <div class="invitenofinish_image"></div>
                }
            </div>
            <div class="invitefinish">
                <img class="niu" src="~/Content/dlm/activity_image/niu3.png" />
                @if (dm_Activity_RecordEntity.invitenum >= 3)
                {
                    <div class="invitefinish_image"></div>
                }
                else
                {
                    <div class="invitenofinish_image"></div>
                }
            </div>
        </div>
        <div class="invite_split"></div>
    </div>

    <div class="page_bottom">
        <div class="head_bottom_tip">活动说明</div>
        <div class="task_description">
            <textarea disabled="disabled">@ViewBag.ActivityRemark</textarea>
        </div>
    </div>



    @*<div class="btn_list">
            <div id="loadmore">解锁更多任务</div>
            <div id="changetask">换一批</div>
        </div>

        <div class="task_description">
            <div class="remark">活动说明</div>
            @Html.Raw(ViewBag.ActivityRemark)
        </div>*@

    @*<div>活动奖励:@ViewBag.ActivityPrice</div>
        <div>Token:@ViewBag.Token</div>
        <div>AppID:@ViewBag.AppID</div>
        <div>Version:@ViewBag.Version</div>
        <div>Platform:@ViewBag.Platform</div>

        <a href="#">打开任务详情</a>*@
</body>
</html>
<script src="~/Content/toast/toast.js"></script>
@Html.AppendJsFile("/Views/DLM_Page/ActivityPage.js")